<div class="hierarchy-tree">
    <ul>
        @for (node of heirarchyData(); track node.label) {
            <li>
                <span>{{ node.label }}</span>
                @if (node?.childrens?.length) {
                    <ng-container *ngTemplateOutlet="childrenTemplate; context: { $implicit: node.childrens }"></ng-container>
                }
            </li>
        }
    </ul>
</div>

<ng-template #childrenTemplate let-children>
    <ul>
        @for (child of children; track child.label) {
            <li>
                <span>- {{ child.label }}</span>
                @if (child?.childrens?.length ) {
                    <ng-container *ngTemplateOutlet="childrenTemplate; context: { $implicit: child.childrens }"></ng-container>
                }
            </li>
        }
    </ul>
</ng-template>