<div>
    <ul>
        @for (node of heirarchyData(); track node.label) {
        <li >
            <span>{{ node.label }}</span>
            @if (node?.childrens?.length) {
            <ng-container *ngTemplateOutlet="childrenTemplate; context: { childrens: node.childrens }"></ng-container>
            }
        </li>
        }
    </ul>
</div>

<ng-template #childrenTemplate let-childrens="childrens">
    <ul style="list-style-type:circle;">
        @for (child of childrens; track child.label) {
        <li>
            <span>{{ child.label }}</span>
            @if (child?.childrens?.length ) {
            <ng-container *ngTemplateOutlet="childrenTemplate; context: { childrens: child.childrens }"></ng-container>
            }
        </li>
        }
    </ul>
</ng-template>